{% extends "layout.html" %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Clan</h1>

<table id="members" class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>#</th><th>Name</th><th>Level</th><th>Liga</th><th>Rolle</th><th>Trophäen</th><th>Gespendet</th><th>Erhalten</th><th>Verhältnis</th></tr>
  </thead>
  <tbody>


{% for rank,mem in app.clanmem %}
    <tr>
      <td>{{ rank }}</td>
      <td>{{ mem.name }}</td>
      <td>{{ mem.level }}</td>
      <td><img id="{{ mem.leagueid }}" src="{{ mem.leagueicontn }}" alt="{{ mem.leaguename }}"/></td>
      <td>{{ mem.role }}</td>
      <td>{{ mem.trophies }}</td>
      <td>{{ mem.donations }}</td>
      <td>{{ mem.received }}</td>
      <td>{{ mem.ratio }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

    </div>

  </div> <!-- row -->

</div>


{% endblock %}
