{% extends "layout.html" %}
{% block sub_title '' %}
{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
    <img src="{{ app.clandetails.badgemd }}"/>
    <h1>{{ app.clandetails.name }} </h1>
<div class="row">
  <div class="col-sm-12 col-md-3">
  <p>
    <small>Clantag </small><span class="hidden-xs"><br/></span>
    <span class="label label-default">#QVQRYYG</span>
  </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
    <small>Punkte </small><span class="hidden-xs"><br/></span>
    <span class="label label-default">{{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i></span>
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
      <small>Clanlevel </small><span class="hidden-xs"><br/></span>
      <span class="label label-default">{{ app.clandetails.level }}</span>
    </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
    <small>Siegesserie </small><span class="hidden-xs"><br/></span>
    <span class="label label-default">{{ app.clandetails.streak }}</span>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
    <p>{{ app.clandetails.description }}</p>
  </div>

</div>

  </div>
</div>


{% endblock %}
