{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
    <img src="{{ app.clandetails.badgemd }}"/>
    <h1>{{ app.clandetails.name }} </h1>
<div class="row">
  <div class="col-sm-6 col-md-3">
  <p>
    <small>Clantag: </small>
    <span class="label label-default">#QVQRYYG</span>
  </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
      <small>Clanlevel: </small>
      <span class="label label-default">{{ app.clandetails.level }}</span>
    </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
    <small>Clan War Siege: </small>
    <span class="label label-default">{{ app.clandetails.wins }}</span>
  </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
    <small>Punkte: </small><span class="label label-default">{{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i></span>
    </p>
  </div>
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
    <p>{{ app.clandetails.description }}</p>
  </div>

</div>

    <a type="button" class="btn btn-default" href="//www.clanwartracker.com" target="_blank">Clanwartracker <i class="fa fa-bar-chart"></i></a>
    <a type="button" class="btn btn-info" href="//tbwjoin.herokuapp.com" target="_blank">#tbw bei Slack <i class="fa fa-slack"></i></a>
  </div>
</div>


{% endblock %}
