{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">

    <img src="{{ app.clandetails.badgemd }}"/>
    <h1>{{ app.clandetails.name }} </h1>


<p class="lead">Clantag: #QVQRYYG  |  Clanlevel: {{ app.clandetails.level }}  |  Clan War Siege: {{ app.clandetails.wins }}   |  Punkte: {{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i></p>

    <p>{{ app.clandetails.description }}</p>
    <a type="button" class="btn btn-default" href="//www.clanwartracker.com"><i class="fa fa-file-text-o" target="_blank"></i> Clanwartracker</a>
    <a type="button" class="btn btn-info" href="//tbwjoin.herokuapp.com"><i class="fa fa-slack" target="_blank"></i> #tbw bei Slack</a>
  </div>
</div>


{% endblock %}
