{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <img src="{{ app.clandetails.badgemd }}"/>
    <h1>{{ app.clandetails.name }} </h1>


<p class="lead">Clantag: #QVQRYYG  |  Clanlevel: {{ app.clandetails.level }}  |  Clan War Siege: {{ app.clandetails.wins }}   |  Punkte: {{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i></p>

    <p>{{ app.clandetails.description }}</p>
    <a type="button" class="btn btn-lg btn-default" href="/mitglieder"><i class="fa fa-file-text-o "></i> Mitglieder</a>
    <a type="button" class="btn btn-lg btn-primary" href="/clanwar"><i class="fa fa-trophy"></i> Clan War</a>
  </div>
</div>


{% endblock %}
