{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">

    <img src="{{ app.clandetails.badgemd }}"/>
    <h1>{{ app.clandetails.name }} </h1>
<div class="row">
  <div class="col-md-8">
    <p>{{ app.clandetails.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  <p>Clantag: #QVQRYYG<br/>
    Clanlevel: {{ app.clandetails.level }}<br/>
    Clan War Siege: {{ app.clandetails.wins }}<br/>
    Punkte: {{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i>
  </p>
  </div>
</div>

    <a type="button" class="btn btn-default" href="//www.clanwartracker.com" target="_blank">Clanwartracker <i class="fa fa-file-text-o"></i></a>
    <a type="button" class="btn btn-info" href="//tbwjoin.herokuapp.com" target="_blank">#tbw bei Slack <i class="fa fa-slack"></i></a>
  </div>
</div>


{% endblock %}
