{% extends "layout.html" %}
{% block sub_title 'Mitglieder | ' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

<h1>Mitglieder</h1>

<div class="row text-center lead">
  <div class="col-sm-6 col-md-3">
  <p>
    <small>Mitglieder </small><span class="hidden-xs"><br/></span>
    <span class="label label-default">{{ app.clandetails.membercount }}  <i class="fa fa-user fa-lg text-muted"></i></span>
  </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
      <small>Leveldurchschnitt </small><span class="hidden-xs"><br/></span>
      <span class="fa-stack fa-1x">
          <i class="fa fa-certificate fa-stack-2x text-primary"></i>
            <strong class="fa-stack-1x certificate-text center-text">{{ app.clandetails.avglvl }}</strong>
            </span>
    </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
    <small>Pokaldurchschnitt </small><span class="hidden-xs"><br/></span>
        <span class="label label-default">{{ app.clandetails.avgtroph }} <i class="fa fa-trophy fa-lg text-warning"></i></span>
  </p>
  </div>
  <div class="col-sm-6 col-md-3">
    <p>
    <small>Clan Punkte </small><span class="hidden-xs"><br/></span>
    <span class="label label-default">{{ app.clandetails.points }} <i class="fa fa-trophy fa-lg text-warning"></i></span>
    </p>
  </div>

</div>



  <table id="members" class="table table-hover table-responsive text-center">
    <thead>
    <tr>
      <th class="text-center hidden-xs">#</th>
      <th class="text-center hidden-xs"><i class="fa fa-history"></i></th>
      <th class="text-center">Level</th>
      <th class="text-center hidden-xs">Liga</th>
      <th class="text-center">Name</th>
      <th class="text-center hidden-xs">Gespendet</th>
      <th class="text-center hidden-xs">Erhalten</th>
      <th class="text-center">
        <span class="hidden-xs">Verhältnis</span>
        <span class="visible-xs-block">SV</span>
      </th>
      <th class="text-center">Pokale</th></tr>
    </thead>
    <tbody>

  {% for rank,mem in app.clanmem %}
      <tr>
        <td class="hidden-xs"></td>
        <td class="hidden-xs">
          {% if mem.prevrank == 0 %}
          <small><i class="fa fa-asterisk text-primary"></i></small>
          {% elseif mem.prevrank == mem.rank %}
          <small><i class="fa fa-minus text-muted"></i></small>
          {% elseif mem.prevrank > mem.rank %}
          <small><span class="text-success"><i class="fa fa-caret-up"></i> ({{ mem.prevrank - mem.rank }})</span></small>
          {% elseif mem.prevrank < mem.rank %}
          <small><span class="text-danger"><i class="fa fa-caret-down"></i> ({{ mem.rank - mem.prevrank }})</span></small>
          {% endif %}

        </td>
        <td><span class="fa-stack fa-1x">
            <i class="fa fa-certificate fa-stack-2x text-primary"></i>
              <strong class="fa-stack-1x certificate-text center-text">{{ mem.level }}</strong>
              </span>
        </td>
        <td class="hidden-xs"><img title="{{ mem.leagueid }}" src="{{ mem.leagueicontn }}" alt="{{ mem.leaguename }}"/></td>
        <td><span class="member">{{ mem.name }}&nbsp;
        {% if mem.role == 'member' %}
        {% elseif mem.role == 'admin' %}
        <i class="fa fa-star-o text-muted" data-toggle="tooltip" data-placement="bottom" title="Ältester"></i>
        {% elseif mem.role == 'coLeader' %}
        <i class="fa fa-star-o text-warning" data-toggle="tooltip" data-placement="bottom" title="Vize-Anführer"></i>
        {% elseif mem.role == 'leader' %}
        <i class="fa fa-star text-warning" data-toggle="tooltip" data-placement="bottom" title="Anführer"></i>
        {% endif %}
        </td>
        <td class="hidden-xs">{{ mem.donations }}</td>
        <td class="hidden-xs">{{ mem.received }}</td>
        <td>
          {% if mem.ratio >= 1 %}
          <span class="text-success">{{ mem.ratio }}</span>
          {% elseif  mem.ratio < 1 and mem.ratio >= 0.33 %}
          <span class="text-warning">{{ mem.ratio }}</span>
          {% elseif  mem.ratio < 0.33 %}
          <span class="text-danger">{{ mem.ratio }}</span>
          {% else %}
          {{ mem.ratio }}
          {% endif %}
        </td>
        <td><span class="label label-default trophies">{{ mem.trophies }} <i class="fa fa-trophy text-warning"></i></span>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>


</div>
</div>

</div>

{% endblock %}
