{% extends "layout.html" %}
{% block sub_title 'WarLog | ' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

<h1>War Log</h1>

<div class="row text-center">
  <div class="col-sm-12 col-md-3">
    <h4>ClanWar:</h4>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
      <span class="label label-success">{{ app.clandetails.wins }}</span><span class="hidden-xs"><br/></span>
    <small>Siege </small>
  </p>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>
      <span class="label label-danger">{{ app.clandetails.losses }}</span><span class="hidden-xs"><br/></span>
    <small>Niederlagen </small>
  </p>
  </div>
  <div class="col-sm-4 col-md-3">
    <p>
      <span class="label label-warning">{{ app.clandetails.ties }}</span><span class="hidden-xs"><br/></span>
    <small>Unentschieden </small>
  </p>
  </div>
</div>

{% for log in app.warlog %}
<div class="row">
  <div class="col-sm-12">
    {% if log.result == 'win' %}
    <div class="panel panel-success">
    {% elseif log.result == 'lose' %}
    <div class="panel panel-danger">
    {% else %}
    <div class="panel panel-default">
    {% endif %}
      <div class="panel-body">
        <div class="row">
        <div class="col-xs-3 col-md-1 text-left">
          <span class="label label-default warstars"><i class="fa fa-star text-warning"></i>{{ log.cstars }}</span><br>
          <small>{{ log.cdestruct }} %</small>
        </div>
        <div class="col-xs-12 col-md-10">
          <div class="row">
            <div class="col-xs-6 col-md-4 text-center">
              <span class="member">{{ log.cname }}</span>&nbsp;&nbsp;
              <span class="fa-stack fa-1x hidden-xs">
                  <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                    <strong class="fa-stack-1x certificate-text center-text">{{ log.clvl }}</strong>
              </span>
            </div>
            <div class="col-xs-6 col-md-1">
              <img src="{{ log.cbadgesm }}" alt="{{ log.cname }}-Logo" class="warbadge img-responsive center-block"/>
            </div>
            <div class="col-xs-12 col-md-2 text-center hidden-xs">
              <p>
              {{ log.size }} vs. {{ log.size }}
              </p>
            </div>
            <div class="col-xs-6 col-md-1">
              <img src="{{ log.obadgesm }}" alt="{{ log.oname }}-Logo" class="warbadge img-responsive center-block"/>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <span class="member">{{ log.oname }}</span>&nbsp;&nbsp;
              <span class="fa-stack fa-1x hidden-xs">
                  <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                    <strong class="fa-stack-1x certificate-text center-text">{{ log.olvl }}</strong>
              </span>

            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-1 text-right">
          <span class="label label-default warstars"><i class="fa fa-star text-warning"></i>{{ log.ostars }}</span><br>
          <small>{{ log.odestruct }} %</small>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<span class="pull-right text-muted"><small>Stand: {{ app.clandetails.timestamp }} Uhr</small></span>

</div>
</div>

</div>

{% endblock %}
