{% extends "layout.html" %}
{% block sub_title 'WarLog | ' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

<h1>WarLog</h1>

{% for log in app.warlog %}
<div class="row">
  <div class="col-sm-12">
    {% if log.result == 'win' %}
    <div class="panel panel-success">
    {% elseif log.result == 'lose' %}
    <div class="panel panel-danger">
    {% else %}
    <div class="panel panel-default">
    {% endif %}
      <div class="panel-body">
        <div class="row">
        <div class="col-xs-2 col-md-1 text-left">
          <span class="label label-default warstars"><i class="fa fa-star text-warning"></i>{{ log.cstars }}</span><br>
          <small>{{ log.cdestruct }} %</small>
        </div>
        <div class="col-xs-8 col-md-10">
          <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
              <span class="member">{{ log.cname }}</span>&nbsp;&nbsp;
              <span class="fa-stack fa-1x">
                  <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                    <strong class="fa-stack-1x certificate-text center-text">{{ log.clvl }}</strong>
              </span>
            </div>
            <div class="col-xs-4 col-md-1">
              <img src="{{ log.cbadgesm }}" alt="{{ log.cname }}-Logo" class="warbadge img-responsive center-block"/>
            </div>
            <div class="col-xs-4 col-md-2 text-center">
              <p>
              {{ log.size }} vs. {{ log.size }}
              </p>
            </div>
            <div class="col-xs-4 col-md-1">
              <img src="{{ log.obadgesm }}" alt="{{ log.oname }}-Logo" class="warbadge img-responsive center-block"/>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <span class="member">{{ log.oname }}</span>&nbsp;&nbsp;
              <span class="fa-stack fa-1x">
                  <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                    <strong class="fa-stack-1x certificate-text center-text">{{ log.olvl }}</strong>
              </span>

            </div>
          </div>
        </div>
        <div class="col-xs-2 col-md-1 text-right">
          <span class="label label-default warstars"><i class="fa fa-star text-warning"></i>{{ log.ostars }}</span><br>
          <small>{{ log.odestruct }} %</small>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<span class="pull-right text-muted"><small>Stand: {{ app.clandetails.timestamp }} Uhr</small></span>

</div>
</div>

</div>

{% endblock %}
