{% extends "layout.html" %}
{% block sub_title 'WarLog | ' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

<h1>WarLog</h1>

{% for log in app.warlog %}
<div class="col-sm-12">

  {% if log.result == 'win' %}
  <div class="panel panel-success">
  {% elseif log.result == 'lose' %}
  <div class="panel panel-warning">
  {% else %}
  <div class="panel panel-default">
  {% endif %}
    <div class="panel-body">
      <div class="col-sm-12 col-md-5">
        <small>{{ log.cdestruct }} %</small>
        <i class="fa fa-star"></i>{{ log.cstars }}
        <span class="member">{{ log.cname }}</span>
        <img src="{{ log.cbadgesm }}" alt="{{ log.cname }}-Logo"/>
        {{ log.clvl }}
      </div>
      <div class="col-sm-12 col-md-2">
        {{ log.size }} vs. {{ log.size }}
      </div>
      <div class="col-sm-12 col-md-5">
        {{ log.olvl }}
        <img src="{{ log.obadgesm }}" alt="{{ log.oname }}-Logo"/>
        <span class="member">{{ log.oname }}</span>
        <i class="fa fa-star"></i>{{ log.ostars }}
        <small>{{ log.odestruct }} %</small>
      </div>

    </div>
  </div>
</div>
{% endfor %}

<span class="pull-right text-muted"><small>Stand: {{ app.clandetails.timestamp }} Uhr</small></span>

</div>
</div>

</div>

{% endblock %}
